<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Alerts List</title>

    <style>

        body {
            color: #fff;
            background: #d47677;
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        }

        .content {
            max-width: 500px;
            margin: auto;  
            background-color: darkgrey;  
            border-radius: 5px;
            padding: 5% 5% 5% 5%;
        }

    </style>
</head>
<body>
    <div class="content">
        <h1>Alert: {{ posted_alert.title }}</h1>
        <h2>Description: {{ posted_alert.description }}</h2>
        <h2>Published: {{ posted_alert.publish_date }}</h2>
    </div>  
</body>
</html>

