<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="Door Select Portal" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>VisoVerita</title>
	<style type="text/css">
		body {
			width: 100%;
			min-width: 400px;
			margin: 0 auto;
		}
		h1 {
			text-align: center;
			margin: 20px auto;
		}
		div {
			width: 100%;
			margin: 0 auto;
		}
		table {
			width: 50%;
			padding: 10px;
			margin: 0 auto;
			border-style: solid;
			border-width: 1px;
			border-spacing: 0;
			border-collapse: collapse;
		}
		td, th {
			border-style: solid;
			border-width: 1px;
		}
		th {
			background: grey;
		}
	</style>
</head>
<body>
	<h1>
		Door Display Portal
	</h1>
	<div>
		<table align="center">
			<tr>
				<th>
					Door Name
				</th>
				<th>
					Access Rights
				</th>
			</tr>
			<tr>
				<td style="width: 25%">Main Entrence</td>
				<td style="width: 75%">Admin, Employees, Authorized Guests, Unregistered Guests</td>
			</tr>
			<tr>
				<td>Side Entrence</td>
				<td>Admin, Employees, Authorized Guests</td>
			</tr>
			<tr>
				<td>Lobby Back Door</td>
				<td>Admin, Employees, Authorized Guests</td>
			</tr>
			<tr>
				<td>Server Room</td>
				<td>Admin</td>
			</tr>
		</table>
	</div>
</body>